= simple_form_for User.new, url: login_path do |f|
  = f.input :handle, label: false, placeholder: 'handle', input_html: { class: 'input-sm' }
  = f.input :password, label: false, placeholder: 'password', input_html: { class: 'input-sm' }

  = f.button :submit, value: 'Login', class: 'btn btn-sm'
