.toot
  .toot-header
    %span.toot-author= link_to toot.author.handle, toot.author
    %span.toot-created-at= time_ago_in_words(toot.created_at) + ' ago'
  .toot-content
    %span.toot-body= toot.body
  .toot-footer
