.toot-stream {
  @include component;
}

.toot {
  width: 100%;
  padding: 6px 12px;
  border-bottom: 1px solid #eee;
  &:last-child { border-bottom: none; }

  .toot-header {
    font-size: $font-size-small;
    margin-bottom: 2px;

    .toot-author {
      font-weight: 500;

      a { color: $text-color; }
    }
    .toot-created-at { color: $gray-light; }
  }
}
