.toot {
  .toot-header {
    margin-bottom: 0px;
    font-size: $font-size-small;
    color: $text-muted;

    a { color: $text-muted; }

    .toot-author, .toot-author a {
      font-weight: bold;
      color: $text-color;
    }
  }


  .toot-footer {
    a[value="favorite"] {
      color: #f43693;

      .normal   { display: inherit; }
      .hovered  { display: none; }

      &:hover {
        .normal   { display: none; }
        .hovered  { display: inherit; }
      }
    }

    .toot-favorite-count {
      font-size: $font-size-small;
      color: $text-muted;
    }
  }
}

