%nav.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      %button.navbar-toggle.collapsed{ 'data-toggle' => 'collapse', 'data-target' => 'navbar-collapse' }
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to 'Tooter', root_path, class: 'navbar-brand'

    .collapse.navbar-collapse#navbar-collapse
      = link_to 'New Toot', new_toot_path, class: 'btn btn-default navbar-btn'

      .navbar-right
        = link_to 'Sign Up', new_user_path, class: 'btn btn-primary navbar-btn'
        = link_to 'Sign In', new_user_path, class: 'btn btn-default navbar-btn'
